# additional packages to build the app for both environments
deep-translator>=1.11.4
imageio>=2.31.1
Jinja2>=3.1.2
nuitka>=1.9.2  # include https://github.com/Nuitka/Nuitka/issues/2572 fix
Pillow>=10.2.0 # https://github.com/python-pillow/Pillow/issues/7443
PyInstaller >= 6.2.0
pyinstaller-versionfile>=2.1.1
setuptools>=65.5.0
typed-argument-parser>=1.8.1
