# packages to run the app for both environments
mitmproxy>=10.1.6
msgspec>=0.18.6
psutil>=5.9.8
tkinter-tooltip>=2.2.0
watchdog>=3.0.0
# for downloading the player and libmpv
feedparser>=6.0.10
py-cpuinfo>=9.0.0
py7zr>=0.21.0  # https://github.com/miurahr/py7zr/pull/558
requests>=2.31.0
# for EPG
keyboard>=0.13.5
lxml>=4.9.4
m3u-ipytv>=0.2.7
thefuzz>=0.20.0