# additional packages' constraints for x86 environment
mitmproxy<10.0.0 # https://github.com/mitmproxy/mitmproxy/issues/6303
Pillow<10.0.0 # https://pillow.readthedocs.io/en/stable/releasenotes/10.0.0.html#bit-wheels